{% extends "base.html" %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Link Account</title>
</head>
<body>
  {% block content %}
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <button id="link-button">Link Account</button>

  <script type="text/javascript">
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === name + "=") {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    const csrftoken = getCookie("csrftoken");

    const myHeaders = new Headers({
      "Content-Type": "text/plain",
      "X-CSRFToken": csrftoken,
    });

    async function linkTokenFunc() {
      const fetchLinkToken = async () => {
        const response = await fetch("/create_link_token", {
          method: "POST",
          credentials: "same-origin",
          headers: myHeaders,
        });
        const responseJSON = await response.json();
        return responseJSON.link_token;
      };

      const configs = {
        token: await fetchLinkToken(),
        onSuccess: async function (public_token, metadata) {
          await fetch("/get_access_token", {
            method: "POST",
            headers: myHeaders,
            body: JSON.stringify({
              public_token: public_token,
              accounts: metadata.accounts,
            }),
          });
        },
        onExit: async function (err, metadata) {
          if (err != null && err.error_code === "INVALID_LINK_TOKEN") {
            linkHandler.destroy();
            linkHandler = Plaid.create({
              ...configs,
              token: await fetchLinkToken(),
            });
          }
          if (err != null) {
          }

          window.location = "/";
        },
      };

      var linkHandler = Plaid.create(configs);
      linkHandler.open();
    }

    document.getElementById("link-button").onclick = function () {
      linkTokenFunc();
    };
  </script>
  {% endblock %}
</body>
